* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    text-align: center;
}

header {
    margin-bottom: 3rem;
}

form {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
}

input {
    background: rgb(238, 238, 238);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-color: transparent; 
    border-right-color: black;
    padding: .55em;
    width: 450px;
}

button {
    cursor: pointer;
    padding: .35em .55em;
    border-color: transparent;
}

button i {
    font-size: 1rem;
}

.submit-btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 1rem;
}

.shuffle-btn {
    border-radius: 6px;
}

.results-header {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.results-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 2rem auto 0 auto;
    justify-content: center;
    grid-gap: 8px;
}

img {
    width: 220px;
    object-fit: contain;
}

.parent-div {
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    backdrop-filter: blur(0px);
    filter: blur(0px);
    transition: all .4s ease;
}

.parent-div:hover .overlay {
    backdrop-filter: blur(3px);
    filter: blur(3px)
}


.meal-info {
    display: none;
    width: 80%;
    margin: 0 auto;
}

.header {
    margin: 3rem 0
}

.meal-img {
    width: 280px;
    object-fit: contain;
}

.box {
    border: 1px black dotted;
    padding: 1.2em;
    margin: .8rem 0;
}

.box h4 {
    font-size: 1.1rem;
}

.category {
    margin-bottom: .7rem;
}

.instruction {
    font-size: 1.15rem;
}

.ingredients {
    margin-top: 1.5rem;
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: black;
    border-radius: 3px;
    color: white;
    padding: .3em;
    width: 350px;
    margin: 1rem auto;
}

.list-items {
    margin: .3rem;
    font-size: 1.1rem;
    padding: .3em;
    background: grey;
    border-radius: 4px;
}