* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    text-align: center;
}

header {
    margin-bottom: 3rem;
}

form {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
}

input {
    /* border-color: #606060; */
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: .55em;
}

button {
    cursor: pointer;
    padding: .35em .55em;
    border-color: transparent;
}

button i {
    font-size: 1rem;
}

.submit-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-right: 1rem;
}

.shuffle-btn {
    border-radius: 3px;
}