* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    text-align: center;
}

header {
    margin-bottom: 3rem;
}

form {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
}

input {
    background: rgb(238, 238, 238);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-color: transparent; 
    border-right-color: black;
    padding: .55em;
    width: 450px;
}

button {
    cursor: pointer;
    padding: .35em .55em;
    border-color: transparent;
}

button i {
    font-size: 1rem;
}

.submit-btn {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 1rem;
}

.shuffle-btn {
    border-radius: 6px;
}

.results-header {
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.results-grid {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-top: 2rem;
}


img {
    width: 220px;
    object-fit: contain;
}